body {
    margin: 0 auto;
}
body, html, section {
    width: 100%;
    height: 100%;
}

.mySlides {
    display:none;
}
h1, h2, h3, h4, h5, h6, p {
font-family:fantasy;
font-size: 5vw;

}

h1 {
    font-size: 30px;
    line-height: 2em;
}

div {
    font-size: 0.5em;
}
.fullscreen-img-1 {
    background-image: url("../img/snow.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.black-shadow
{
    text-shadow: 4px 4px 10px rgba(0, 0, 0);
}
.caption span {
    font-size: 5px;
}
#video-1 {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;

}
figure {
    margin: 0;
}
